html
    {
          box-sizing: border-box;
    }


*, *:before, *:after
    {
          box-sizing: inherit;
          padding: 0; margin: 0;
    }


html, body
    {
          display: block;
          height: 100%;
          width: 100%;
    }


ul,li, a
    {
          margin: 0; padding: 0;
          list-style: none;
          text-decoration: none;
    }

body
{
          height: 100%;
          background-color: #333;
}

h1
{
  padding-bottom: 0px;
  margin-bottom: 0px;
  color:#1E90FF;
}

h3
{
  padding-top: 0px;
  margin-top: 0px;
}
h4
{
  padding: 0px;
  margin: 0px;
  color:#1E90FF;
}
h5
{
  padding: 0px;
  margin: 0px;
  color:#1E90FF;
}
h6
{
  padding: 0px;
  margin: 0px;
}
table{
  width: 100%;
}

#form1{width: 50%;  vertical-align:top;}
#form2{width: 10%;}
#form3{width: 5%;}
#form4{width: 15%;  vertical-align:top;}
#form5{width: 16.66%;  vertical-align:top;}
#form6{width: 75%;  vertical-align:top;}
#form7{width: 90%;}

i
    {
        color: #1E90FF;
        margin-right: 20px;
    }

#textform
{
  position: absolute;
  top: 60px;
  left: 100px;
  background-color:#1E90FF;
  height: 60px;
  width: 120px;
  color:#FFFFFF;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
#textform1
{
  position: relative;
  left: 790px;
  bottom: 300px;
  background-color:#1E90FF;
  height: 150px;
  width: 150px;
  color:#FFFFFF;
  text-align: center;
  padding-top: 10px;
  transform:rotate(-70deg);
  font-size: 30px
}
#textform2
{
  position: relative;
  left: 900px;
  bottom: 450px;
  background-color:#1E90FF;
  height: 150px;
  width: 150px;
  color:#FFFFFF;
  text-align: center;
  padding-top:100px;
  font-size: 30px;
  transform:rotate(-70deg);
}
#textform3
{
  position: relative;
  left: 864px;
  bottom: 278px;
  background-color:#137CFF;
  height: 47px;
  width: 113px;
  transform:rotate(-70deg);
}
.main
    {
          position:absolute;
          height: 100%;
          top :0px;
          left: 0px;
          padding: 60px 60px;
    }

.main-header
    {
          height: 30px;
          background-color:#f1f1f1;
    }

.droite
    {
        text-align: right;
    }
#tabG
    {
        height: 10%;
    }
#tabD
    {
        height: 5%;
    }
.main-container
    {
          height: auto;
          font-size: 22px;
          background-color:#f1f1f1;
          padding-left: 40px;
    }

progress
{
  width: 100%;
}
.main-footer
    {
          height: 30px;
          text-align: center;
          background-color: #1E90FF;

    }
/*    @media only screen and (max-width: 600px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: inline-block;
                max-width: 600px;
                width: 100%;
          }
    }*/

    /* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) and (max-width: 768px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: inline-block;
                min-width: 600px;
                max-width: 768px;
                width: 100%;
          }
    }*/

    /* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) and (max-width: 992px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: block;
                min-width: 768px;
                max-width: 992px;
                width: 100%;
          }
    }*/

    /* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px)and (max-width: 1200px)
    {
      .main, .main-header, .main-container, .main-footer
          {
                display: block;
                min-width: 992px;
                max-width: 1200px;
                width: 100%;
          }
    }

    @media only screen and (min-width: 1200px)
        {*/
          .main{
                display: block;
                width: auto;

          }


          .main-header, .main-container, .main-footer
              {
                    display: block;
                    width: 1200px;
              }
            /*}*/
